<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{range .}}
    {{.Name}}
    {{range .Menu}}
        {{.Name}}
        {{range .Items}}
            {{.Name}}
            {{.Price}}
            {{end}}
    {{end}}
{{end}}
</body>
</html>